.navbar {
	position: absolute;
	top: 0;
	width: 100%;
	background: none;
	padding: 40px 0 0;
}
/* LOGO */
.navbar .navbar-brand .navbar-item {
	padding: 0 0px 0 64px;
}
.navbar .navbar-brand .navbar-item img {
	max-height: inherit;

}

/* NAVIGATION OPTIONS */
.navbar-menu .navbar-end {
	padding: 0 64px 0 159px;
	position: relative;
	overflow: visible;
}
.navbar-menu .navbar-end::before {
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #ffffff;
	opacity: 5%;
	filter: blur(5px);
}
.navbar-menu .navbar-end::after {
	position: absolute;
	content: "";
	top: 50%;
	left: 0;
	width: 100%;
	max-width: 560px;
	height: 1px;
	background: #979797;
	transform: translate(-85%, 50%);
}
.navbar-menu .navbar-end .navbar-item {
	color: #ffffff;
	padding: 38.5px 0px;
	margin-right: 48px;
	position: relative;
	text-transform: uppercase;

	font-size: 16px;
}
.navbar-menu .navbar-end .navbar-item:last-child {
	margin-right: 0px;
}
.navbar-menu .navbar-end .navbar-item::before {
	position: absolute;
	content: "";
	bottom: 0px;
	width: 0%;
	height: 3px;
	background: #ffffff;
	opacity: 50%;
}
.navbar-menu .navbar-end .navbar-item.active::before {
	width: 100%;
	opacity: 100%;
	background: #ffffff;
}
.navbar-menu .navbar-end .navbar-item:hover {
	background: none;
}
.navbar-menu .navbar-end .navbar-item:hover::before {
	width: 100%;
	transition: all 0.3s ease-out;
}