@media only screen and (min-width: 434px)
	h1
		font-size: 144px
		/* line-height: 171.9%; */

	h2
		font-size: 100px
		/* line-height: 114.6%; */

	h3
		font-size: 56px
		/* line-height: 114.6%; */

	h4
		font-size: 32px
		/* line-height: 37.7%; */

	h5
		font-size: 28px
		/* line-height: 33.6.6%; */

	h6
		font-size: 14px
